<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <div>
      <%= link_to 'New Review', new_review_path %>
      <h1>Recent Reviews</h1>

     
          <% @reviews.each do |review| %>
            <div class="short-review">
              <div class="book-title">
                <%= link_to review do %>
                  <i class="glyphicon glyphicon-align-left"></i> <%= review.title.html_safe %>
                <% end %>
              </div>
              <div class="reviewed-by">
                Reviewed By: <%= review.user.username %>
              </div>
            </div>
          <% end %>
      <%= paginate @reviews %>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Your Timeline</h1>
    <% current_user.reviews.each do |review| %>
      <div class="well timeline-review">
        <div>
          <%= image_tag review.user.avatar.url, size: 50, class: "img-circle review-avatar"%>
          Reviewed By: <%= review.user.username %>
        </div>
        <div class="book-title">
          <%= link_to review do %>
            <i class="glyphicon glyphicon-align-left"></i> <%= review.title.html_safe %>
          <% end %>
        </div>
        <div>
           <%= review.review %>
        </div>
      </div>
    <% end %>
  </div>
</div>








 