<p id="notice"><%= notice %></p>

<div class="well"><p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.author %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
    <%= link_to 'Edit', edit_review_path(@review) %>
</p>

<div id="comments">

    <%= render 'comments/form', comment: @comment %>

    <% @review.comments.each do |comment| %>
        <p>
	    <%= comment.author %> said...<br />
	    <%= comment.comment %>
	</p>
    <% end %>

</div>
</div>

<p>
    <%= link_to 'Back', review_path %>
</p>